[참조] 자료구조 - 문자열

word = "python"
--------------------------------------------
문자열 |  p  |  y  |  t  |  h  |  o  |  n  |
--------------------------------------------
       | [0] | [1] | [2] | [3] | [4] | [5] |
 위치  -------------------------------------
       |[-6] |[-5] |[-4] |[-3] |[-2] |[-1] |
--------------------------------------------

[예제 1]
word = "python"
print(word)       #출력결과 : python
print(word[3])    #출력결과 : h

word[1]    word[-3]    word[2:4]    word[:2]
word[4:]   word[-2:]   word[:-3]    len(word)

In [ ]:
#[예제 연습]

[예제 2]
string = "Python programming is easy"
string = string.upper()
print(string)

string.upper()       string.lower()        string.swapcase()        string.title()
string.count("i")    string.find("on")

In [ ]:
# [예제 연습]

[참조] 자료구조 - list

▶ (리스트 선언)  리스트이름 = list()
▶ (사용 예)      리스트이름 = [항목1, 항목2, 항목3, ......]
                  ※ 항목은 문자, 수치로 사용

추가 : append(데이터)
삽입 : insert(위치, 데이터)
삭제 : remove(데이터) / pop(위치) 
구간삭제 : del(리스트명[시작위치 : 끝위치+1])
		   리스트명[시작위치 : 끝위치+1] = [ ]

[예제 3]
fruit = list()
fruit = ["딸기", "수박", "포도", "사과"]
print(fruit)

fruit.append("참외")    fruit.insert(2, "오렌지")     fruit.remove("포도")
fruit.pop(1)            del(fruit[1:3])               fruit[1:3] =[]
fruit[2] = "오렌지"

In [20]:
#[예제 연습]

[문제 1] 다음 항목에서 점수에 대한 2차원 리스트를 작성하시오.

학     생   홍길동  갑돌이  갑순이  전우치
국어 점수     49      94      88      75
수학 점수     56      67      58      67 
영어 점수     80      78      91      84 

[참조] 2차원 배열 만들기
리스트명 = [ [] ]

In [1]:
#[문제 풀기]

[문제 2] lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
  ▷ lang1 = ["월", "화", "수"]
  ▷ lang2 = ["목", "금", "토", “일”]

(출력결과)["월", "화", "수", "목", "금", "토", “일”]
(참조) 리스트 결합 : 리스트명 + 리스트명

In [13]:
#[문제 풀기]

[문제 3] 다음 리스트에서 데이터의 개수, 최대값, 최소값, 합, 평균값을 출력하시오.
nums = [4, 2, 3, 6, 7, 9, 1, 5]

(참조)
▷ 합 : sum(리스트명)
▷ 데이터의 개수 : len(리스트명)
▷ 최대값 : max(리스트명)
▷ 최소값 : min(리스트명)
▷ 평균값 : sum(리스트명) / len(리스트명)

In [14]:
#[문제 풀기]

[문제 4] 다음 리스트에서 항목을 정렬하시오.
nums = [4, 2, 3, 6, 7, 9, 1, 5]

(참조)
▷ 정렬 : 리스트명.sort()

In [2]:
#[문제 풀기]

[문제 5] 리스트 항목 10개를 0으로 저장하시오.

(출력결과) [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [3]:
#[문제5 풀기 - '*'를 사용하기]

In [17]:
#[문제5 풀기 - for문을 사용하여 리스트에 추가하기]

In [18]:
#[문제5 풀기 - 리스트 컴프리헨션 사용하기]

[문제 6] 다음 리스트 항목끼리의 합을 구하시오.
number1 = [1, 2, 3]
number2 = [4, 5, 6]

(출력결과) [5, 7, 9]

In [4]:
#[문제 풀기]

[문제 7] 다음 리스트에서 1의 요소의 모든 인텍스값을 찾아보시오.
number = [1, 2, 1, 5, 7, 3, 1, 9, 8, 3]

(출력결과) [0, 2, 6]

In [5]:
#[문제 풀기]

[문제 8] 다음 리스트에서 항목별을 출력하시오.
strim = [1, [“AB”, “b”, 4], “abc”, 4]

(출력결과)
 1
 [‘AB’, ‘b’, 4]
 abc
 4

In [22]:
#[문제 풀기]

[참조] 자료구조 - tuple

▶ 데이터의 값을 변경을 금지하기 위해 사용

(튜플 선언)    튜플이름 = tuple()     
(사용 예)  	튜플이름 = (항목1, 항목2, ㆍㆍㆍㆍ)

(참조) 리스트와 튜플의 차이점
 리스트 : 항목 변경 가능       / 데이터 초기화 선언  a = [ ,  ,  , ]
 튜플   : 항목 변경 불가능     / 데이터 초기화 선언  a = ( ,  ,  , )

[문제 9] "그랜저", "쏘나타", "아반떼", "캐스퍼"를 튜플로 저장하시오.

In [7]:
#[문제 풀기]

[문제 10] 다음 '수박'을 '오렌지'로 변경하시오.
fruit = ("딸기", "수박", "포도", "사과")

(참조) 튜플로 저장된 값은 변경이 불가능하므로 리스트로 전환하여 변경
(튜플에서 리스트로 전환) list(튜플명)
(리스트에서 튜플로 전환) tuple(리스트명)

In [8]:
#[문제 풀기]

[문제 11] '포도'를 삭제하시오.
fruit = ("딸기", "수박", "포도", "사과")

In [9]:
#[문제 풀기]

[참조] 자료구조 - set

▶ 데이터를 순서 없이 저장하면서 중복을 불허하는 자료형

(set 선언) set(리스트 또는 튜플)

(참조)
▷ 추가 : add(데이터)   /   update([리스트])
▷ 삭제 : remove(데이터) / clear() - 전체삭제 
▷ 합집합 : |
▷ 교집합 : &
▷ 차집합 : -

[문제 12] 다음 리스트를 set로 변환하시오.
number = [1, 2, 3, 1, 2, 4]

(출력결과) {1, 2, 3, 4}

In [10]:
#[문제 풀기]

[문제 13] 다음 set값을 참고로 하여 다음의 조건에 맞게 출력하시오.

number = {1, 2, 3, 4}

① 수치 1을 추가하시오.
② 수치 7을 추가하시오.
③ 수치 2를 삭제하시오.
④ [1, 4, 7, 9]를 추가하시오.
⑤ 전체를 삭제하시오.

In [11]:
#[문제 풀기]

[문제 14] 다음 리스트에 대한 참고로 하여 문제를 해결하시오.

 number1 = [1, 2, 3, 4, 5]
 number2 = [3, 4, 5, 6, 7]
 ① number1과 number2의 합집합을 구하시오.
 ② number1과 number2의 교집합을 구하시오.
 ③ number1에 대한 number2의 차집합을 구하시오.

In [12]:
#[문제 풀기]

[참조] 자료구조 - dictionary

▶ 키와 값을 쌍으로 데이터(데이터, 리스트, 튜플)를 저장하는 방식

(딕셔너리 선언)	 딕셔너리 변수 = { }     
(사용 예)  	    딕셔너리 변수 = {키1 : 값1, 키2 : 값2, 키3 : 값3, ㆍㆍㆍ}

[문제 15] 다음 표에서 학번을 키(key)로 사용하여 딕셔너리로 저장하시오.
 
 --------------------------
 학번(key)      이름(value)
 --------------------------
 220101         홍길동
 210202         갑돌이
 220105         전우치

In [13]:
#[문제 풀기]

[문제 16] 다음 딕셔너리에서 코드번호 140, 명칭 '딸기'를 추가하시오.
fruit = {110 : "수박", 120 : "포도", 130 : "사과"}

In [14]:
#[문제 풀기]

[문제 17] 다음 딕셔너리에서 '포도'를 삭제하시오.

fruit = {110 : "수박", 120 : "포도", 130 : "사과"}

(참조) del(딕셔너리명[key])

In [15]:
#[문제 풀기]

[문제 18] 다음 딕셔너리에서 '사과'를 '오렌지'로 변경하시오.

fruit = {110 : "수박", 120 : "포도", 130 : "사과"}

In [16]:
#[문제 풀기]

[문제 19] 다음 딕셔너리에서 키-값 쌍으로 출력하시오.(for문 사용)

fruit = {110 : "수박", 120 : "포도", 130 : "사과"}

(출력결과)
 110 수박
 120 포도
 130 사과

In [17]:
#[문제 풀기]

[문제 20] 다음 문자열을 분리하시오.

"python, jquery, javascript"

(참조) 문자열 분리 : 문자열.split()  # 문자열 분리를 하면 list로 저장

In [18]:
#[문제 풀기]

[문제 21] 다음 리스트에 있는 문자열을 결합하시오.

[‘red’, ‘blue’, ‘green’, ‘yellow’]

(참조) ' '.join(리스트명)

In [19]:
#[문제 풀기]